body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    background-color: #e1e3e0;
    border-radius: 0.5em;
    margin-bottom: 30px;
    overflow: hidden;
}

h1{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.button{
    float: left;
    clear: both;
    color: #fff;
    background: rgba(55,137,214,1);
    background: -moz-linear-gradient(top, rgba(55,137,214,1) 0%, rgba(23,103,189,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,137,214,1)), color-stop(100%, rgba(23,103,189,1)));
    background: -webkit-linear-gradient(top, rgba(55,137,214,1) 0%, rgba(23,103,189,1) 100%);
    background: -o-linear-gradient(top, rgba(55,137,214,1) 0%, rgba(23,103,189,1) 100%);
    background: -ms-linear-gradient(top, rgba(55,137,214,1) 0%, rgba(23,103,189,1) 100%);
    background: linear-gradient(to bottom, rgba(55,137,214,1) 0%, rgba(23,103,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3789d6', endColorstr='#1767bd', GradientType=0 );
    border-radius: 4px;
    border: 1px solid #058;
    padding: 8px;
    text-align: center;
}

.block{
    box-sizing: border-box;
    margin: 0 2% 0 0;
}

div.block h2{
    margin: 0;
}

div.block p{
    margin: 10px 0 20px 0;
}

.button2{
    font-size: 0.8em;
    color: #000;
    text-decoration: none;
    background-color: #f6f6f6;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 41%, rgba(237,237,237,1) 82%, rgba(237,237,237,1) 96%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(41%, rgba(246,246,246,1)), color-stop(82%, rgba(237,237,237,1)), color-stop(96%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 41%, rgba(237,237,237,1) 82%, rgba(237,237,237,1) 96%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 41%, rgba(237,237,237,1) 82%, rgba(237,237,237,1) 96%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 41%, rgba(237,237,237,1) 82%, rgba(237,237,237,1) 96%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 41%, rgba(237,237,237,1) 82%, rgba(237,237,237,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    border-radius: 0.4em;
    border: 1px solid rgb(179, 184, 185);
    padding: 8px 14px;
}