.contenedor{
    margin: 40px 10px;
}
.container{
    padding: 40px;
}

h1{
    font-size: 11vw;
    letter-spacing: -1vw;
    line-height: 1em;
}

.texto{
    font-size: 10vw;
    line-height: 1.5em;
}

.texto p{
    margin-top: 0px;
    margin-bottom: 10px;
}

iframe{
    width: 100%;
}

div.block h2{
    font-size: 8vw;
}

div.block p{
    font-size: 7vw;
}
